/* 공통 */
div.cntWrap{
    margin-top: 40px;
}
div.cntWrap>div.content{
    margin: 0 auto;
    width: 90%;
    max-width: 440px;
}
div.bnrWrap.bnrWrap01{
    margin-top: 40px;
}
div.bnrWrap>div.banner{
    width: 90%;
    max-width: 440px;
}

/* 헤더 */

div.hdrWrap>div.header{
    width: 90%;
    max-width: 440px;
}
div.hdrWrap>div.header>div.hdrLeft>div.logo{
    width: 40px;
    height: 40px;
    margin-top: 20px;
    min-width: 40px;
}
div.hdrWrap>div.header>div.hdrLeft>ul.nav{
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li{
    display: none;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(3){
    display: block;
}
div.hdrWrap>div.header>div.hdrRight>ul.menu>li:nth-child(1){
    display: none;
}

/* 메인 */

div.mainWrap>div.main{
    height: 360px;
    background-image: url('./Images/pc_service/main_pic01_mb.png');
}

/* 컨텐츠1 */

div.cntWrap>div.content.cnt01>div.header>h2{
    font-size: 18px;
}
div.cntWrap>div.content.cnt01>div.section>div.artLeft{
    width: 100%;
}
div.cntWrap>div.content.cnt01>div.section>div.artRight{
    width: 100%;
}

/* 영상 */

div.vedioWrap>video{
    height: 320px;
}

/* 배너1 */

div.bnrWrap{
    display: none;
}

/* 컨텐츠3 */

div.cntWrap>div.content.cnt02>div.header>h2{
    font-size: 18px;
    text-align: center;
}
div.cntWrap>div.content.cnt02>div.header>p{
    display: none;
}
div.cntWrap>div.content.cnt02>div.section>div.article>div.image{
    background-image: url('./Images/pc_service/cnt02_pic01_mb.png');
    height: 280px;
}

/* 푸터 */

div.ftrWrap{
    margin-top: 40px;
}
div.ftrWrap>div.footer{
    width: 90%;
    max-width: 440px;
}
div.ftrWrap>div.footer>div.ftrLeft{
    float: none;
    font-size: 16px;
    line-height: 40px;
    padding: 0;
    width: 100%;
    margin-left: 0;
}
div.ftrWrap>div.footer>div.ftrRight{
    display: none;
}
div.ftrWrap>div.footer>div.ftrMid{
    float: none;
    display: block;
    width: 100%;
    padding: 0;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li{
    font-size: 12px;
    line-height: 20px;
}
div.ftrWrap>div.footer>div.ftrMid>ul.info>li:nth-child(3){
    line-height: 40px;
}
div.ftrWrap>div.footer>div.ftrLeft>h1{
    margin-left: 0;
}
div.ftrWrap>div.footer>div.ftrMid>ul.menu>li::before{
    top: 5px;
}